@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    transition: 2s;
}

body {
    background: #F5F5F5;

    font-family: 'Quicksand';
}

.menu-superior {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    background-color: #a06cd5;

    height: 11.5vh;
}

.box-menu, .box-menu-titulo {
    display: grid;

    padding-top: 20px;

    justify-items: center;
    align-items: center;
}

.box-menu {
    transition: 400ms;
}

.box-menu-ativo {
    border-top: #F5F5F5 solid 6px;
}

.box-menu-ativo>.items-menu {
    font-weight: 600;
}

.items-menu, .titulo-menu {
    color: #FFFFFF;
    font-size: 1.2rem;
    text-align: center;
}

.items-menu {
    font-weight: 400;
}

.titulo-menu {
    font-weight: 700;
    font-size: 1.5rem;
}

/*TITULO DA PÃGINA */

.box-titulo {
    display: grid;
    align-items: center;
    justify-items: center;

    margin-top: -20vh;
}

.titulo-principal {
    color: #a06cd5;

    font-family: 'Bebas Neue';
    font-size: 8rem;
    text-align: center;
}

.box-data {
    display: grid;
    align-items: center;
    justify-items: center;
}

.titulo-data {
    color: #a06cd5;

    font-family: 'Bebas Neue';
    font-size: 4rem;
    text-align: center;
}

/*ALURA*/

.box-alura, .box-atividadesFisicas, .box-saude, .box-estudos, .box-organizacao, .box-atividadesTech {
    background-color: #a06cd5;

    display: grid;
    grid-template-columns: 1fr min-content;

    align-items: center;

    box-sizing: border-box;
}

.ondas {
    margin-bottom: -3px;
}

.titulo-alura, .titulo-atividadesFisicas, .titulo-saude, .titulo-estudos, .titulo-organizacao, .titulo-atividadesTech {
    color: #FFFFFF;

    font-family: 'Bebas Neue';
    font-size: 7rem;
    text-align: center;

    padding-top: 0.8rem;

    cursor: pointer;
}

.img-alura, .img-atividadesFisicas, .img-saude, .img-estudos, .img-organizacao, .img-atividadesTech {
    border: #FFFFFF solid 3px;
    border-radius: 10px;

    width: 6rem;
    height: 6rem;

    margin-right: 2rem;

    display: grid;
    justify-items: center;
    align-items: center;

    box-sizing: border-box;
}

.img-alura:hover, .img-atividadesFisicas:hover, .img-saude:hover, .img-estudos:hover, .img-organizacao:hover, .img-atividadesTech:hover {
    width: 8rem;
    height: 8rem;
}

.img-alura:hover>.texto-alura {
    font-size: 3rem;
}

.img-atividadesFisicas:hover>.texto-atividadesFisicas, .img-atividadesTech:hover>.texto-atividadesTech {
    font-size: 1.5rem;
}

.img-organizacao:hover>.texto-organizacao {
    font-size: 1.2rem
}

.img-saude:hover>.texto-saude {
    font-size: 2.5rem;
}

.img-estudos:hover>.texto-estudos {
    font-size: 1.75rem;
}

.texto-alura {
    font-family: 'Quicksand';
    font-size: 2rem;
    color: #FFFFFF;
    padding: 3%;
}

.texto-atividadesFisicas, .texto-atividadesTech {
    font-family: 'Quicksand';
    font-size: 1rem;
    color: #FFFFFF;
    padding: 3%;
}

.texto-organizacao {
    font-family: 'Quicksand';
    font-size: 0.8rem;
    color: #FFFFFF;
    padding: 3%;
}

.texto-estudos {
    font-family: 'Quicksand';
    font-size: 1.25rem;
    color: #FFFFFF;
    padding: 3%;
}

.texto-saude {
    font-family: 'Quicksand';
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: 3%;
}

/* TABELA ALURA */ 

.imprimirAlura {
    transition: 4s;
}

.vazio-cima {
    margin-top: -300px;

    height: 150px;

    background-color: #a06cd5;
}

.vazio-baixo {
    height: 45px;

    background-color: #a06cd5;
}

.linha-01, .linha-02, .linha-03 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    background-color: #a06cd5;

    height: 100px;
}

.box-items-01, .box-titulo-01, .box-items-02, .box-titulo-02, .box-items-03, .box-titulo-03 {
    display: grid;

    align-items: center;
    justify-items: center;
}

.box-items-01, .box-items-02, .box-items-03 {
    border-left: #F5F5F5 solid 1px;

}

.items-menu-01, .titulo-menu-01, .items-menu-02, .titulo-menu-02, .items-menu-03, .titulo-menu-03 {
    color: #FFFFFF;
    font-size: 1.5rem;
    text-align: center;
}

.items-menu-01, .items-menu-02, .items-menu-03 {
    font-weight: 400;
}

.titulo-menu-01 {
    font-weight: 700;
    font-size: 1.8rem;
}

.titulo-menu-02, .titulo-menu-03 {
    font-weight: 500;
    font-size: 1.8rem;
}

.input-menu-02, .input-menu-03 {
    width: 9rem;
    height: 1.5rem;

    padding: 5%;

    border-radius: 9rem;
    box-sizing: border-box;
}

.botao-salvar {
    height: 1rem;
    width: 4.5rem;

    margin-top: -3rem;

    border-radius: 4.5rem;

    font-size: 0.8rem;
    font-weight: 600;

    background-color: #FFFFFF;
    transition: 4s;
}

.botao-salvar:hover, .botao-todos:hover {
    background-color: #a06cd5;
    color: #FFFFFF;
    border: #FFFFFF solid 1px;
    padding-bottom: 2%;
}

.botao-todos {
    grid-column: span 2;
    justify-self: center;

    height: 1.5rem;
    width: 96vw;
    
    text-align: center;

    border-radius: 4.5rem;

    font-size: 1.2rem;
    font-weight: 600;

    background-color: #FFFFFF;
}

.exibirMedia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background-color: #a06cd5;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    row-gap: 15px;
    column-gap: 15px;

    margin-bottom: 2rem;
    padding-top: 2rem;
}


.mediaHC, .mediaJS, .mediaTotal, .mediaEX {
    background-color: #FFFFFF;
    height: 6rem;

    border-radius: 3rem;
    
    display: grid;
    justify-items: center;
    align-items: center;

    font-size: 2rem;
}

.mediaEX {
    grid-column: span 2;
}

.mediaTotal {
    grid-column: span 2;
}

/*FIM ALURA*/ 

